<div class="row row-cols-2 row-cols-sm-3 g-4 mb-2">
  {{#each recipe}}
    <div class="col">
      <div class="card h-100">
        <img src="{{thumbnail_url}}" class="card-img-top cover" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          {{#unless description}}
            <p class="card-text">Sorry, description not available!</p>
          {{/unless}}
          {{! MODIFICARE PER INCLUDERE EVENTUALE CODICE HTML }}
          <p class="card-text">{{ellipsis description 80}}</p>
        </div>
        <div class="card-footer">
          <a href="/add_favourite/{{name}}/"><button
              class="btn btn-light float-"
            ><i class="fa-solid fa-heart"></i></button></a>
          <a href="/view_recipe/{{name}}/"><button
              class="btn btn-light float-end"
            ><i class="fa-solid fa-eye"></i></button></a>
        </div>
      </div>
    </div>
  {{/each}}
</div>